body {
    margin: 0;
    padding: 0;
    font-family: 'Kufam', cursive;
}
a {
    text-decoration: none;
}
/* Portada */
.portada {
    width: 100%;
}
.portada img {
    width: 100%;
}

/* Contenido */
.contenido {
    display: flex;
    flex-flow: row wrap;
    padding: 20px;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 3px 10px rgba(0,0,0,.25);
}
.logo img{
    text-align: center;
    border-radius: 50%;
    padding: 10px;
    max-width: 400px ;
}
.descripcion {
    text-align: center;
}
.descripcion h2{
    font-size: 20px;
    font-weight: 200;
    white-space: pre-wrap;
}
.titulo {
    text-align: center;
    font-weight: 400;
    text-transform: capitalize;
    white-space: pre-wrap;
    margin-bottom: 0;
    margin-left: 10px;
}
.descripcion span {
    font-size: 25px;
    color: #fd5949;
    font-weight: 600;
    text-transform: uppercase;
}
.reproductor {
    width: 100%;
    text-align: center;
}
.reproductor iframe {
    width: 50%;
    height: 155px;
    border: none;
}
.redes {
    margin-top: 20px;
    text-align: center;
}
.redes a i:hover {
    color: orangered;
}
.italic {
    font-style: italic;
}


/* Iconos */
.icon-twitter {
    color: #00acee;
    font-size: 50px;
    display: inline;
}
.icon-spotify {
    color: #1db954;
    font-size: 50px;
    padding: 10px;
}
.icon-instagram {
    color: #d6249f;
    font-size: 50px;
    padding: 10px;
}
.icon-rocket {
    color:orangered;
    font-size: 25px;
}

/* Integrantes */
.integrantes {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-top: 40px;
    align-items: center;
    box-shadow: 0px 3px 10px rgba(0,0,0,.25);
    padding: 30px;
}
.integrantes p {
    margin: 0;
}
.integrantes img {
    width: 700px;
}
.integrantes h2 {
    padding: 20px;
    font-size: 20px;
    font-weight: 200;
    white-space: pre-wrap;
}
.integrantes a i {
    font-size: 25px;
    padding: 0;
}


/* Capitulos */
.fin-temporada {
    margin-top: 60px;
    display: flex;
    flex-flow: row wrap;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    justify-content: center;
    align-items: center;
    padding: 30px;
    box-shadow: 0px 3px 10px rgba(0,0,0,.25);
}
.fin-temporada img {
    height: auto;
    max-width: 700px;
}
.fin-temporada h3{
    font-size: 30px;
    font-weight: 300;
    padding: 20px;
    white-space: pre-wrap;
}
.fin-temporada h3 i {
    color: orangered;
}
.titulo-capitulos {
    margin-top: 60px;
    text-align: center;
    font-size: 25px;
}
.titulo-capitulos h3 {
    font-weight: 200;
}
.titulo-capitulos h3 i {
    color: orangered;
}
.capitulos {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.capitulos iframe {
    padding: 20px;
    color: red;
}
.bloque-cap {
    box-shadow: 0px 3px 10px rgba(0,0,0,.25);
    width: 400px;
    margin: 35px;
    height: 405px;
    border-radius: 5px;
}
.bloque-cap iframe {
    width: 360px;
    height: 200px;
    border: none;
}
.bloque-cap img {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 400px;
}
.bottom-distance {
    margin-bottom: 30px;
}


/* Footer */
.end-page {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
    background-color: #292929;
    color: white;
}
.contact{
    text-align: center;
    flex-flow: wrap;
    flex-grow: 3;
}
.contact div {
    text-align: center;
}
.contact input{
    display: inline-block;
    margin: 10px;
    padding: 5px;
}
form {
    margin-bottom: 20px;
}
.contact textarea {
    padding: 5px;
    width: 75%;
}
.contact h3 {
    background-color: orangered;
}
.mensaje {
    display: block;
    text-align: center;
}
.btn-submit {
    background-color: rgba(255, 69, 0, 0.9);
    padding: 8px !important;
    width: 80px;
    border: none;
    border-radius: 30px;
    color: white;
    cursor: pointer;
    font-size: 18px;
}
.remeras {
    flex-flow: wrap;
    display: inline-block;
    text-align: center;
    flex-grow: 1;
    margin-bottom: 15px;
}
.remeras h3 {
    text-transform: uppercase;
    background-color: orangered;
}
.remeras i {
    color: white;
}
.remeras img {
    border-radius: 30px;
    margin-top: 15px;
    width: 250px;
}
.redes-footer {
    text-align: center;
    margin-bottom: 20px;
    flex-grow: 2;
}
.redes-footer h3 {
    background-color: orangered;
}
.redes-footer a i:hover {
    color: orangered;
    cursor: pointer;
}
.desafio-summerhack {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fbd304;
    border-top: 1px solid white;
}
.desafio-summerhack img {
    width: 80px;
}
.desafio-summerhack p {
    display: inline-block;
    margin: 0;
    padding: 8px;
    font-size: 30px;
    text-transform: uppercase;
    color: #4581eb;
    font-weight: 800;
}
.desafio-summerhack img {
    display: inline-block;
}
.end-page h3 {
    margin-top: 0;
    padding: 7px;
}

@media screen and (max-width: 1440px) {
    .integrantes img {
        width: 500px;
    }
}

@media screen and (max-width: 1366px){
    .integrantes img {
        width: 415px;
    }
    .fin-temporada img {
        max-width: 500px;
    }
}
@media screen and (max-width: 992px){
    .logo img{
        max-width: 300px ;
    }
    .integrantes img {
        width: 350px;
    }
    .fin-temporada img {
        max-width: 350px;
    }
}

@media screen and (max-width: 425px){ 
    .logo img{
        max-width: 250px ;
    }
    .reproductor iframe {
        width: 90%;
        height: 155px;
    }
    .integrantes img {
        width: 250px;
    }
    .fin-temporada img {
        max-width: 250px;
    }
    .titulo {
        width: 100%;
        white-space: normal;
    }
    .descripcion h2 {
        white-space: normal;
    }
    .integrantes h2 {
        white-space: normal;
    }
    .fin-temporada h3{
        white-space: normal;
    }
    .bloque-cap {
        width: 250px;
        height: 315px;
    }
    .bloque-cap img {
        width: 250px;
    }
    .bloque-cap iframe {
        width: 90%;
        height: 152px;
        padding: 12;
    }
    .desafio-summerhack p {
        font-size: 20px;
    }
}
